
*.v2
.vs/DiscordBotBase.Net/v16/.suo
*.dll
bin/Debug/netcoreapp3.1/DiscordBotBase.Net.deps.json
bin/Debug/netcoreapp3.1/DiscordBotBase.Net.exe
bin/Debug/netcoreapp3.1/DiscordBotBase.Net.pdb
bin/Debug/netcoreapp3.1/DiscordBotBase.Net.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/DiscordBotBase.Net.runtimeconfig.json
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/DiscordBotBase.Net.assets.cache
obj/Debug/netcoreapp3.1/DiscordBotBase.Net.assets.cache
obj/Debug/netcoreapp3.1/DiscordBotBase.Net.assets.cache
obj/Debug/netcoreapp3.1/DiscordBotBase.Net.assets.cache
obj/Debug/netcoreapp3.1/DiscordBotBase.Net.csproj.CopyComplete
obj/Debug/netcoreapp3.1/DiscordBotBase.Net.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/DiscordBotBase.Net.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/DiscordBotBase.Net.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/DiscordBotBase.Net.pdb
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/DiscordBotBase.Net.assets.cache
obj/Debug/netcoreapp3.1/DiscordBotBase.Net.csprojAssemblyReference.cache
obj/project.nuget.cache
